.linha {
    display: flex;
    flex-direction: row;
}

.coluna {
    display: flex;
    flex-direction: column;
}

.tela-login {
    justify-content: center;
    align-items: center;
    height: 25rem;
    margin: 0;
    display: flex;
}

h1 {
    font-size: 5rem;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

h1.login {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

h2 {
    font-size: 2rem;
    padding: 0.5rem;
}

.itens {
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    justify-content: space-between;
}

footer {
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 0.5%;
}

.foter {
    border-top: 0.2rem;
    border-style: solid;
    width: 100%;
}

input {
    padding: 1rem;
}

.botao-confirmar {
    border-radius: 5%;
    margin-top: 0.5rem;
}

.center {
    display: flex;
    justify-content: center;
}

.hcenter {
    align-items: center;
}

body {
    height: 100%;
}

html {
    height: 100%;
}

input[type="submit"] {
    cursor: pointer;
}

.novohabito {
    font-size: 4rem;
}

.margin {
    margin: 1rem;
}

.margin2 {
    margin: 2rem;
}

.espalhadoh {
    vertical-align: space-between;
}