.linha {
    display: flex;
    flex-direction: row;
}

.coluna {
    display: flex;
    flex-direction: column;
}

.elemento-centralizado {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}

form.elemento-centralizado {
    flex-direction: column;
    flex-grow: 1;
    max-width: 400px;
    width: 100%;
}

h1 {
    font-family: "Cabin", serif;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    margin-top: 16px;
}

h1.texto-fixo {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

h2 {
    font-family: "Cabin", serif;
    font-size: 2rem;
    padding: 0.5rem;
}

h3 label input {
    font-family: "Source Serif 4", serif;
    font-size: 1rem;
    font-style: normal;
    font-optical-sizing: auto;
}

.itens {
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    justify-content: space-between;
}

footer {
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 0%;
    background-color: white;
}

.foter {
    border-top: 0.2rem;
    border-style: solid;
    width: 100%;
}

input {
    padding: 1rem;
    font-size: 1.5rem;
}

input.input-habito {
    border: none;
}

.margin-cheia {
    width: 95%;
    border-width: 2px;
    
}

.botao-confirmar {
    border-radius: 5%;
    margin-top: 0.5rem;
}

.center {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    justify-content: center;
}

.hcenter {
    align-items: center;
}

body {
    height: 100%;
}

html {
    height: 100%;
}

input[type="submit"] {
    cursor: pointer;
    font-size: 1.5rem;
}

form {
    font-size: 1.5rem;
}

body.diario {
    height: 90vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

main.diario {
    flex-grow: 1;
    padding-bottom: 4rem;
}

.margin {
    margin: 1rem;
}

.margin2 {
    margin: 2rem;
}

.espalhadoh {
    vertical-align: space-between;
}

.cinza {
    border: 1px;
    border-style: solid;
    background-color: rgb(223, 223, 223);
}

.marginl {
    margin-left: 2rem;
}

.borderr {
    border-right: 0.2rem;
    border-style: solid;
}

.margintop {
    margin-top: 3rem;
}

.novohabito2 {
    font-size: 3rem;
}

.azul {
    background-color: hsl(195, 100%, 70%);
}

.icone-azul {
    filter: brightness(0) saturate(100%) invert(45%) sepia(89%) saturate(654%) hue-rotate(148deg) brightness(94%) contrast(101%);
}

a.azul {
    background-color: transparent;
    color: hsl(195, 100%, 70%);
}

.vermelho {
    background-color: hsl(0, 100%, 70%);
}

h2.vermelho {
    background-color: transparent;
    color: hsl(0, 100%, 70%);
}

.icone-vermelho {
    filter: brightness(0) saturate(100%) invert(24%) sepia(96%) saturate(7481%) hue-rotate(-15deg) brightness(104%) contrast(103%);
}

input.botao-mais {
    font-size: 20px;
    padding: 10px 20px;
}

.htopbuscar {
    align-self: flex-start;
    justify-self: center;
    margin-top: 3rem;
}

.margintop2 {
    margin-top: 0.5rem;
}

.left {
    justify-content: flex-start;
}

.espalhar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-control{
    margin-top: 1.5rem;
    border-radius: 15px;
}

input::placeholder {
    font-size: 1.5rem;
    padding: 1rem;
}

.senha-esquecida {
    margin-right: 55%;
    font-size: 1rem;
}

li.habito {
    width: 90%;
}

form.habito {
    border-radius: 10px;
    border: 1px solid black;
}